{% load static %}
{% load i18n %}
{% load login_register %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% endif %}{% trans "Occurs Now" %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/themes/united.css" %}">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>

{% if not user.is_authenticated %}
    {% login_register_forms %}
{% endif %}

{% include "includes/menu.html" %}

<!-- Begin page content -->
<div class="container">
    {% block jumbotron %}
        <div class="jumbotron hidden-sm hidden-xs">
            <p class="text-primary text-center">
                {% trans "Be a reporter and share what occurs now!" %}
            </p>

            <p> 
                {% trans "Share breaking news that occurs in world whatever it is, political, culture, trading, tech, fashion ...etc." %}
            </p>
        </div>
    {% endblock %}
    {% block content %}{% endblock %}

</div>
<!-- end .container -->

<footer class="footer">
    <div class="container">
        <br>

        <p class="text-center">
            {% trans "Copy right" %}(&copy;) {% now "Y" %} - {% trans "Occurs Now" %}
        </p>

        

    </div>
</footer>

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.linkify.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>

{% block footer %}{% endblock %}
</body>
</html>
