{% load static %}
{% load i18n %}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Login" %}</h4>
            </div>
            <form class="form-signin" action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <img id="profile-img" class="profile-img-card" src="{% static "img/avatar_2x.png" %}"/>

                    <div class="form-group">
                        {{ login_form.username }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password }}
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Register new account" %}</h4>
            </div>
            <form class="form-signin" action="{% url 'accounts:register' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        {{ register_form.username }}
                    </div>
                    <div class="form-group">
                        {{ register_form.password1 }}
                    </div>
                    <div class="form-group">
                        {{ register_form.password2 }}
                    </div>
                    <div class="form-group">
                        {{ register_form.email }}
                    </div>
                    <div class="form-group">
                        {{ register_form.first_name }}
                    </div>
                    <div class="form-group">
                        {{ register_form.last_name }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">{% trans "Register" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->